.addPlayersPage {
    font-family: 'Bungee Inline', cursive !important;
}

.addPlayersPage > .col {
    height: 100vh;
    width: 50%;
}

.addPlayersPage > .right_col {
    background-color: black;
    color: white;
}

.addPlayersPage > .right_col > .teamSheet > h2 {
    color: white;
    text-align: center;
}

.addPlayersPage > .right_col .playerList {
    max-height: 82vh;
}

.playerCard > .playerName {
    max-width: 275px;
}
